@model Team2LibraryProject_01.Models.IndexViewModel
@{
    ViewBag.Title = "Account Management";
    List<int>.Enumerator e = ViewBag.IDList.GetEnumerator();
    List<int>.Enumerator f = ViewBag.RentIDList.GetEnumerator();
    List<int>.Enumerator g = ViewBag.ReserveIDList.GetEnumerator();

    string message = TempData["Success"] as string;
}

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>The Lounge</h1>
            <p class="lead">Welcome to your own personal space.</p>
        </div>
    </div>
    @if (!String.IsNullOrEmpty(message))
    {
        <hr />
        <div class="message">
            <p style="color: darkorange">Success: @message</p>
        </div>
    }
    <hr />
    <div class="row">
        <div class="col-md-5">
            <h3>About You</h3>
            <br />
            <p>Name: @ViewBag.FName @ViewBag.Lname</p>
            <p>Email: @ViewBag.Email</p>
            <p>Member Type: @ViewBag.Type</p>
        </div>

        <div class="col-md-5">
            <h3>Account Management</h3>
            <br />
            <p>Change Your Password:
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </p>
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <h3>Your Rentals</h3>
            <br />
            @foreach (var bookRented in ((List<string>)ViewBag.RentList))
            {
                f.MoveNext();
                int rentIDOutput = f.Current;
                <a href="Loans/LoanDetails/@rentIDOutput">@bookRented</a>
                <br />
            }
        </div>
        <div class="col-md-5">
            <h3>Account Status</h3>
            @if (ViewBag.FinesSum > 0)
            {
                <h3 style="color: red">Total Fines: $@ViewBag.FinesSum</h3>
                <h4 style="color: red">Alert! You have outstanding fees. Please return the book/s and make a payment immediately.</h4>
            }
            else
            {
                <br />
                <p style="color: dodgerblue">In Good Standing. Well Done!</p>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <h3>Your Reviews</h3>
            <br />

            @foreach (var bookReviewed in ((List<string>)ViewBag.ReviewList))
            {
                e.MoveNext();
                int reviewIDOutput = e.Current;
                <a href="Reviews/ReviewDetails/@reviewIDOutput">@bookReviewed</a>
                <br />
            }
        </div>
        <div class="col-md-5">
            <h3>Your Reservations</h3>
            <br />

            @foreach (var bookReserved in ((List<string>)ViewBag.ReserveList))
            {
                g.MoveNext();
                int reserveIDOutput = g.Current;
                <a href="Reservations/ReserveDetails/@reserveIDOutput">@bookReserved</a>
                <br />
            }
        </div>
    </div>
</body>