@model Team2LibraryProject_01.Models.IndexViewModel
@{
    ViewBag.Title = "Account Management";
    List<int>.Enumerator e = ViewBag.IDList.GetEnumerator();
}

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>The Lounge</h1>
            <p class="lead">Welcome to your own personal space.</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <h3>About You</h3>
            <br />
            <p>Name: @ViewBag.FName @ViewBag.Lname</p>
            <p>Email: @ViewBag.Email</p>
            <p>Member Type: @ViewBag.Type</p>
        </div>

        <div class="col-md-5">
            <h3>Account Management</h3>
            <br />
            <p>Change or Create Your Password:
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </p>
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <h3>Your Reviews</h3>
            <br />

                @foreach(var bookReviewed in ((List<string>)ViewBag.ReviewList))
                {
                    e.MoveNext();
                    int output = e.Current;
                    <a href="Reviews/ReviewDetails/@output">@bookReviewed</a>
                    //@Html.ActionLink(@bookReviewed, "ReviewDetails", "Reviews", new { id = output })
                    <br />
                }
        </div>
        <div class="col-md-5">
            <h3>Your Rentals</h3>
            <br />

        </div>
    </div>
</body>