@model IEnumerable<Team2LibraryProject_01.Models.Book>

@{
    ViewBag.Title = "Book Search";
}


<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Search</h1>
            <p class="lead">Find your faves. No frills.</p>
        </div>
    </div>

        @using (Html.BeginForm())
        {
            <p>
                <h5>Search By

                Title: @Html.TextBox("SearchString")
                Author: @Html.TextBox("AuthorSearchString")
                Genre: @Html.DropDownList("bookGenre", "All")
                Publisher: @Html.DropDownList("bookPublisher", "All")

                <input type="submit" value="Search" /></h5>
            </p>
        }

    <br />
     <table class="table">
         <tr>
             <th>
                 @Html.DisplayNameFor(model => model.Title)
             </th>
             <th>
                 Author
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Publisher)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Year)
             </th>
             <th></th>
         </tr>

         @foreach (var item in Model)
         {
             string input = item.Title;
             string output = item.ISBN;
             <tr>
                 <td>
                     <a href="/Books/BookDetails/@output">@Html.DisplayFor(modelItem => item.Title)</a>
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Author_LName), @Html.DisplayFor(modelItem => item.Author_FName)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Publisher)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Year)
                 </td>
             </tr>
         }
     </table>
    <hr />
    <p>@Html.ActionLink("Back to List", "Books", "Home")</p>
</body>