@model Team2LibraryProject_01.Models.Loan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinesPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinesPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventory.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.FName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
