@model IEnumerable<Team2LibraryProject_01.Models.Loan>

@{
    ViewBag.Title = "Index";
    var completedLoan = ViewBag.CompletedLoan as List<Team2LibraryProject_01.Models.Loan>;
    string message = TempData["Success"] as string;
}

<div class="jumbotron">
    <div class="container">
        <h1>Check-Ins</h1>
        <p class="lead">All book returns right here.</p>
    </div>
</div>

@if (!String.IsNullOrEmpty(message))
{
    <hr />
    <div class="message">
        <p style="color: darkorange">@message</p>
    </div>
    <hr />
}

<div class="row">
    <div class="col-md-12">
        <h3>All Completed Loans</h3>
        <table class="table">
            <tr>
                <th>
                    Loan ID
                </th>
                <th>
                    Member Card Number
                </th>
                <th>
                    Member Name
                </th>
                <th>
                    Book ID
                </th>
                <th>
                    Book Title
                </th>
                <th>
                    Checkout Date
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Return Date
                </th>
                <th>
                    Fines Paid
                </th>
                @foreach (var item in completedLoan)
                {
                <tr>
                    <td>
                        @item.LoanID
                    </td>
                    <td>
                        @item.CardNo
                    </td>
                    <td>
                        @item.Member.FName @item.Member.LName
                    </td>
                    <td>
                        @item.ItemID
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.CheckOutDate.ToShortDateString()
                    </td>
                    <td>
                        @item.DueDate.ToShortDateString()
                    </td>
                    <td>
                        @item.ReturnDate.Value.ToShortDateString()
                    </td>
                    <td>
                        $@item.Fines
                    </td>
                </tr>
                }
            </table>
        </div>
        <hr />
    </div>
<div class="row">
    <div class="col-md-12">
        <h3>All Pending Loans</h3>
        <table class="table">
            <tr>
                <th>
                    Loan ID
                </th>
                <th>
                    Member Card Number
                </th>
                <th>
                    Member Name
                </th>
                <th>
                    Book ID
                </th>
                <th>
                    Book Title
                </th>
                <th>
                    Checkout Date
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Fines Accrued
                </th>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoanID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CardNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.FName) @Html.DisplayFor(modelItem => item.Member.LName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @item.CheckOutDate.ToShortDateString()
                        </td>
                        <td>
                            @item.DueDate.ToShortDateString()
                        </td>
                        <td>
                           $@Html.DisplayFor(modelItem => item.Fines)
                        </td>
                    </tr>
                }
        </table>
    </div>
    <hr />
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <h4>Select Book Item to Check-In</h4>
            <p>
                @Html.DropDownList("ItemID", null, htmlAttributes: new { @class = "form-control" })
            </p>
            <br />
            <p style="color: red">DISCLAIMER: By checking in, you confirm that the member has paid all the fees, if any are applicable.</p>
            <br />
            <h4><input type="submit" value="Confirm Check-In" /></h4>
        }
    </div>
</div>