@model Team2LibraryProject_01.Models.Review


<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Review</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReviewText)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReviewText)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Book.Author_FName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Book.Author_FName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Member.FName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Member.FName)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to Lounge", "Index", "Manage")
            </div>
        }
    </div>
</body>
