@model Team2LibraryProject_01.Models.Review


<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h2>Edit Review for: <span style="font-size: 26px">@ViewBag.Title</span></h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ReviewID)
    
            <br />
            <div class="form-group">
                @Html.Label("Rating:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Rating, new List<SelectListItem>
                {
                    new SelectListItem { Text = "1", Value = "1"},
                    new SelectListItem { Text = "2", Value = "2"},
                    new SelectListItem { Text = "3", Value = "3"},
                    new SelectListItem { Text = "4", Value = "4"},
                    new SelectListItem { Text = "5", Value = "5", Selected = true},
                }, "Select Rating", new { style = "font-size: 18px" })  
                </div>
            </div>
    
            <div class="form-group">
                @Html.Label("Review Text:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReviewText, new { htmlAttributes = new { @class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.ReviewText, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <br />
    <hr />
    <div>
        @Html.ActionLink("Back to Lounge", "Index", "Manage")
    </div>
</body>
