@model Team2LibraryProject_01.Models.Review

<body>
    <div>
        <br />
        <h2>Your Review For: <span style="font-size: 26px">@ViewBag.BookTitle</span></h2>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <img id="books" alt="books_cover" src="@Url.Content(ViewBag.Image)" />
            </div>
            <div class="col-md-6">
                <h3>Book Title:</h3>
                <h4>@Html.DisplayFor(model => model.Book.Title)</h4>
                <h3>Your Rating:</h3>
                <h4 style="font-size: 26px; font-weight: 300">@Html.DisplayFor(model => model.Rating)/5</h4>
                <h3>Your Opinion:</h3>
                <h4>@Html.DisplayFor(model => model.ReviewText)</h4>
                <br />
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Edit Review", "Edit", new { id = Model.ReviewID }) |
                @Html.ActionLink("Delete Review", "DeleteReview", new { id = Model.ReviewID }) |
                @Html.ActionLink("Back to Lounge", "Index", "Manage")
            </div>
        </div>
    </div>
</body>
