@model IEnumerable<Team2LibraryProject_01.Models.MemberReviewsView>

@using GridMvc.Html

@{
    ViewBag.Title = "Member Reviews Report";
}

<h1 style="font-size: 80px">Member Reviews Report</h1>

<body>

    @using (Html.BeginForm())
    {
        <h4>Display a report on user reviews on books based on query input.</h4>
        <hr />
        <div class="row">
            <div class="col-md-5">
                <h3>Member and Book Details</h3>
                <hr />
                <h5>First Name: @Html.TextBox("firstName")</h5>
                <h5>Last Name: @Html.TextBox("lastName")</h5>
                <h5>Card Number: @Html.TextBox("cardNumber")</h5>
                <h5>Book Title: @Html.TextBox("bookTitle")</h5>
            </div>
            <div class="col-md-6">
                <h3>Review Details</h3>
                <hr />
                <h5>Compare Sign: @Html.DropDownList("compareSign")</h5>
                <h5>Rating: @Html.TextBox("rating")</h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h3>Hide Data Attribute/s</h3>
                <h5>
                    First Name: @Html.CheckBox("hidChecks[0]")
                    Last Name: @Html.CheckBox("hidChecks[1]")
                    Card Number: @Html.CheckBox("hidChecks[2]")
                    Title: @Html.CheckBox("hidChecks[3]")
                    Rating: @Html.CheckBox("hidChecks[4]")
                    Review Text: @Html.CheckBox("hidChecks[5]")
                </h5>
            </div>
            <div class="col-md-6">
                <br />
                <h4><input type="submit" value="Search" /></h4>
            </div>
        </div>
    }

    <hr />
    <br />

    @{
        var grid = new WebGrid(source: Model, rowsPerPage: 20);
    }

    @Html.Grid(Model).Columns(columns =>
        {
            if(!ViewBag.hidChecks[0])
                columns.Add(model => model.FName).Titled("User First Name");
            if (!ViewBag.hidChecks[1])
                columns.Add(model => model.LName).Titled("User Last Name");
            if (!ViewBag.hidChecks[2])
                columns.Add(model => model.CardNo).Titled("Card Number");
            if (!ViewBag.hidChecks[3])
                columns.Add(model => model.Title).Titled("Book Title");
            if (!ViewBag.hidChecks[4])
                columns.Add(model => model.Rating).Titled("Rating");
            if (!ViewBag.hidChecks[5])
                columns.Add(model => model.ReviewText).Titled("Review Text");
        })

    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <p>@Html.ActionLink("Return to Admin Section", "Admin", "Home")</p>
        </div>
    </div>
</body>


