@model IEnumerable<Team2LibraryProject_01.Models.MemberReviewsView>

@using GridMvc.Html

@{
    ViewBag.Title = "Member Reviews Report";
}

<h2>Member Reviews Report</h2>

<hr />
<body>

    @using (Html.BeginForm())
    {
        <p>
            <h5>
                Search By

                First Name: @Html.TextBox("firstName")
                Last Name: @Html.TextBox("lastName")
                Card Number: @Html.TextBox("cardNumber")
                Book Title: @Html.TextBox("bookTitle")
                Compare Sign: @Html.DropDownList("compareSign")
                Rating: @Html.TextBox("rating")

                <input type="submit" value="Search" />
            </h5>
        </p>
    }


    @{
        var grid = new WebGrid(source: Model, rowsPerPage: 20);
    }

    @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(model => model.FName).Titled("User First Name");
            columns.Add(model => model.LName).Titled("User Last Name");
            columns.Add(model => model.CardNo).Titled("Card Number");
            columns.Add(model => model.Title).Titled("Book Title");
            columns.Add(model => model.Rating).Titled("Rating");
            columns.Add(model => model.ReviewText).Titled("Review Text");
        })
</body>


