@model Team2Library_01.Models.DVD

@{
    ViewBag.Title = "Transformers: Dark of the Moon";
}

<body>
    <h2>The Big Lebowski</h2>
    <div style="text-align:center">
        <hr />
        <img id="things" alt="things_cover" src="@Url.Content("~/Content/Images/tfdark_cover.png")" />
        <hr />
    </div>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                Director:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Director_FName) @Html.DisplayFor(model => model.Director_LName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Studio):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Studio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genre):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Language):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Language)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rating):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Synopsis):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Synopsis)
            </dd>

            <dt>
                Found in:
            </dt>

            <dd>
                Shelf @Html.DisplayFor(model => model.Shelf)
            </dd>

        </dl>
    </div>
    <hr />
    <p>
        @Html.ActionLink("Review this DVD", "Reviews")
    </p>
    <p>
        @Html.ActionLink("Rent this DVD", "Loans")
    </p>
    <p>
        @Html.ActionLink("Back to List", "DVDs", "Home")
    </p>
    </p>
</body>