@model IEnumerable<Team2LibraryProject_01.Models.MemberLoansView>

@{
    ViewBag.Title = "Fees Report";
}

<h1 style="font-size: 80px">Fees Report</h1>

@using GridMvc.Html

<body>

    @using (Html.BeginForm())
    {
        <h4>Display a report on fees incurred by members based on query input.</h4>
        <hr />
        <div class="row">
            <div class="col-md-5">
                <h3>Member and Book Details</h3>
                <hr />
                <h5>First Name: @Html.TextBox("firstName")</h5>
                <h5>Last Name: @Html.TextBox("lastName")</h5>
                <h5>Card Number: @Html.TextBox("cardNumber")</h5>
                <h5>Book Title: @Html.TextBox("bookTitle")</h5>
            </div>
            <div class="col-md-6">
                <h3>Fines Range</h3>
                <hr />
                <h5>Compare Sign: @Html.DropDownList("compareSign")</h5>
                <h5>Fines: @Html.TextBox("fines")</h5>
                <h5>Fines Paid: @Html.DropDownList("finesPaid")</h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <input type="submit" value="Search" />
                <h5>Hide Data Attribute/s</h5>
                <h5>
                    First Name: @Html.CheckBox("hidChecks[0]")
                    Last Name: @Html.CheckBox("hidChecks[1]")
                    Card No: @Html.CheckBox("hidChecks[2]")
                    Book Title: @Html.CheckBox("hidChecks[3]")
                    Fines: @Html.CheckBox("hidChecks[4]")
                    Fines Paid: @Html.CheckBox("hidChecks[5]")
                </h5>
            </div>
            <div class="col-md-6">
                <br />
                <h4><input type="submit" value="Search" /></h4>
            </div>
        </div>
    }

    <hr />
    <br />

    @{
        var grid = new WebGrid(source: Model, rowsPerPage: 20);
    }

    @Html.Grid(Model).Columns(columns =>
        {
            if(!ViewBag.hidChecks[0])
                columns.Add(model => model.FName).Titled("User First Name");
            if (!ViewBag.hidChecks[1])
                columns.Add(model => model.LName).Titled("User Last Name");
            if (!ViewBag.hidChecks[2])
                columns.Add(model => model.CardNo).Titled("Card Number");
            if (!ViewBag.hidChecks[3])
                columns.Add(model => model.Title).Titled("Book Title");
            if (!ViewBag.hidChecks[4])
                columns.Add(model => model.Fines).Titled("Fines");
            if (!ViewBag.hidChecks[5])
                columns.Add(model => model.FinesPaid).Titled("Fines Paid");
        })
</body>