@model IEnumerable<Team2LibraryProject_01.Models.MemberLoansView>

@{
    ViewBag.Title = "Fees Report";
}

<h2>Fees Report</h2>

@using GridMvc.Html

<hr />

<body>

    @using (Html.BeginForm())
    {
        <p>
            <h5>
                Search By

                First Name: @Html.TextBox("firstName")
                Last Name: @Html.TextBox("lastName")
                Card Number: @Html.TextBox("cardNumber")
                Book Title: @Html.TextBox("bookTitle")
                Compare Sign: @Html.DropDownList("compareSign")
                Fines: @Html.TextBox("fines")
                Fines Paid: @Html.DropDownList("finesPaid")

                <input type="submit" value="Search" />
            </h5>
        </p>
    }


    @{
        var grid = new WebGrid(source: Model, rowsPerPage: 20);
    }

    @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(model => model.FName).Titled("User First Name");
            columns.Add(model => model.LName).Titled("User Last Name");
            columns.Add(model => model.CardNo).Titled("Card Number");
            columns.Add(model => model.Title).Titled("Book Title");
            columns.Add(model => model.Fines).Titled("Fines");
            columns.Add(model => model.FinesPaid).Titled("Fines Paid");
        })
</body>