@model IEnumerable<Team2Library_01.Models.Book>

@{
    ViewBag.Title = "Books";
}

<div class="jumbotron">
    <h1>Books</h1>
    <p class="lead">Choose from our paltry selection of books.</p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Author
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    string input = item.Title;
    string output = input.Replace(" ", "").Replace("-", "").Replace(":","").Replace(",","").Replace("(","").Replace(")","");
    <tr>
        <td>
            <a href="/Books/@output">@Html.DisplayFor(modelItem => item.Title)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author_LName), @Html.DisplayFor(modelItem => item.Author_FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
    </tr>
}

</table>
