@model IEnumerable<Team2LibraryProject_01.Models.BookInventoryView>

@{
    ViewBag.Title = "Inventory Report";
}

<h2>Inventory Report</h2>

@using GridMvc.Html

<hr />
<body>

    @using (Html.BeginForm())
    {
        <h4>Display a report on the current inventory based on query input.</h4>
        <div class="row">
            <div class="col-md-5">
                <h3>Book Details</h3>
                <hr />
                <h5>ISBN: @Html.TextBox("isbn")</h5>
                <h5>Title: @Html.TextBox("title")</h5>
                <h5>Item Price: @Html.TextBox("itemPrice")</h5>
                <h5>On Shelf: @Html.DropDownList("onShelf")</h5>
            </div>
            <div class="col-md-6">
                <h3>Date Range</h3>
                <hr />
                <h4>Date Added</h4>
                <h5>From: @Html.TextBox("dateAdded1") To: @Html.TextBox("dateAdded2")</h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Search" />
                <h5>Hide Columns:</h5>
                <h5>ISBN @Html.CheckBox("hidChecks[0]")
                Title @Html.CheckBox("hidChecks[1]")
                Item Price @Html.CheckBox("hidChecks[2]")
                Date Added @Html.CheckBox("hidChecks[3]")
                On Shelf @Html.CheckBox("hidChecks[4]")</h5>
            </div>
            <hr />
        </div>
    }


    @{
        var grid = new WebGrid(source: Model, rowsPerPage: 20);
    }

    @Html.Grid(Model).Columns(columns =>
        {
            if(!ViewBag.hidChecks[0])
                columns.Add(model => model.ISBN).Titled("ISBN");
            if (!ViewBag.hidChecks[1])
                columns.Add(model => model.Title).Titled("Title");
            if (!ViewBag.hidChecks[2])
                columns.Add(model => model.ItemPrice).Titled("Item Price");
            if (!ViewBag.hidChecks[3])
                columns.Add(model => model.DateAdded).Titled("Date Added").Format("{0:MM/dd/yyyy}");
            if (!ViewBag.hidChecks[4])
                columns.Add(model => model.OnShelf).Titled("On Shelf");
        })
</body>