
@{
    ViewBag.Title = "Admin";
}

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Admin Area</h1>
            <p class="lead">Welcome to the control center.</p>
        </div>
    </div>
    <hr />

    <div class="admincontrols">
        <div class="row">
            <div class="col-md-5">
                <h3>Account Controls</h3>
                <p>Manage user accounts, including viewing and deletion of members.</p>

                <br />

                <p>@Html.ActionLink("Access the member list", "MemberIndex", "Members")</p>

                <hr />
            </div>

            <div class="col-md-5">
                <h3>Inventory Controls</h3>
                <p>Manage the library inventory for addition or removal of books on offer.</p>

                <br />

                @Html.ActionLink("Access the inventory", "InventoryIndex", "Inventories")
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Report Generation</h3>
                <p>View database statistics and save them as reports.</p>

                <br />
                <div class="col-md-5">
                    <h4>Inventory Reports</h4>
                    <p>@Html.ActionLink("Current Book Inventory", "InventoryReport", "Inventories")</p>
                    <p>@Html.ActionLink("Books in Catalog", "BookCatalogReport", "Books")</p>
                    <p>@Html.ActionLink("Loans on Books", "BookLoanReport", "Loans")</p>
                </div>
                <div class="col-md-5">
                    <h4>Member Reports</h4>
                    <p>@Html.ActionLink("Current Membership", "MemberReport", "Members")</p>
                    <p>@Html.ActionLink("Loans per Member", "LoanReport", "Loans")</p>
                    <p>@Html.ActionLink("Reviews made by Members", "ReviewReport", "Reviews")</p>
                    <p>@Html.ActionLink("Late fees on Members", "FeesReport", "Reservations")</p>
                    </div>
                    <hr />
                </div>
        </div>
    </div>
</body>
