
@{
    ViewBag.Title = "Admin";
    string message = TempData["Success"] as string;
}

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Admin Area</h1>
            <p class="lead">Welcome to the control center, Head Librarian.</p>
        </div>
    </div>
    @if (!String.IsNullOrEmpty(message))
    {
        <hr />
        <div class="message">
            <p style="color: darkorange; font-size: 16px">@message</p>
        </div>
    }
    <hr />
    <div class="admincontrols">
        <div class="row">
            <div class="col-md-5">
                <h2>Account Controls</h2>
                <p style="font-size: 16px">View and monitor current user accounts.</p>

                <br />

                <p style="font-size: 16px">@Html.ActionLink("Access the member list", "MemberIndex", "Members")</p>

            </div>

            <div class="col-md-5">
                <h2>Inventory Controls</h2>
                <p style="font-size: 16px">Manage the library inventory for managing of books on offer.</p>

                <br />

                <p style="font-size: 16px">@Html.ActionLink("Access the inventory", "InventoryIndex", "Inventories")</p>
                <p style="font-size: 16px">@Html.ActionLink("Access the book catalog", "BookIndex", "Books")</p>

</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h2>Manage Loans</h2>
                <p style="font-size: 16px">Manage the loan system for book check-ins.</p>
                <br />
                <p style="font-size: 16px">@Html.ActionLink("Access Loans", "LoanIndex", "Loans")</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h2>Report Generation</h2>
                <p style="font-size: 16px">View database statistics and save them as reports.</p>

                <br />
                <div class="col-md-5">
                    <h3>Inventory Reports</h3>
                    <p style="font-size: 16px">@Html.ActionLink("Current Book Inventory", "InventoryReport", "Inventories")</p>
                    <p style="font-size: 16px">@Html.ActionLink("Loans on Books", "LoanReport", "Loans")</p>
                </div>
                <div class="col-md-5">
                    <h3>Member Reports</h3>
                    <p style="font-size: 16px">@Html.ActionLink("Reviews made by Members", "ReviewReport", "Reviews")</p>
                    <p style="font-size: 16px">@Html.ActionLink("Late fees on Members", "FeesReport", "Reservations")</p>
                    </div>
                </div>
            </div>
    </div>
</body>
